[submodule "site-lisp/git/eclipse-theme"]
	path = site-lisp/git/eclipse-theme
	url = https://github.com/abo-abo/eclipse-theme
[submodule "site-lisp/git/use-package"]
	path = site-lisp/git/use-package
	url = https://github.com/jwiegley/use-package
[submodule "site-lisp/git/smex"]
	path = site-lisp/git/smex
	url = https://github.com/abo-abo/smex
[submodule "site-lisp/git/auto-save"]
	path = site-lisp/git/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "site-lisp/git/diminish"]
	path = site-lisp/git/diminish
	url = https://github.com/myrjola/diminish.el
[submodule "site-lisp/git/swiper"]
	path = site-lisp/git/swiper
	url = https://github.com/abo-abo/swiper
[submodule "site-lisp/git/hydra"]
	path = site-lisp/git/hydra
	url = https://github.com/abo-abo/hydra
[submodule "site-lisp/git/yasnippet"]
	path = site-lisp/git/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "site-lisp/git/company-mode"]
	path = site-lisp/git/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "site-lisp/git/powerline"]
	path = site-lisp/git/powerline
	url = https://github.com/milkypostman/powerline
[submodule "site-lisp/git/ace-window"]
	path = site-lisp/git/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "site-lisp/git/avy"]
	path = site-lisp/git/avy
	url = https://github.com/abo-abo/avy
[submodule "site-lisp/git/lispy"]
	path = site-lisp/git/lispy
	url = https://github.com/abo-abo/lispy
[submodule "site-lisp/git/projectile"]
	path = site-lisp/git/projectile
	url = https://github.com/bbatsov/projectile
[submodule "site-lisp/git/tea-time"]
	path = site-lisp/git/tea-time
	url = https://github.com/konzeptual/tea-time
[submodule "site-lisp/git/ace-link"]
	path = site-lisp/git/ace-link
	url = https://github.com/abo-abo/ace-link
[submodule "site-lisp/git/ace-popup-menu"]
	path = site-lisp/git/ace-popup-menu
	url = https://github.com/mrkkrp/ace-popup-menu
[submodule "site-lisp/git/avy-menu"]
	path = site-lisp/git/avy-menu
	url = https://github.com/mrkkrp/avy-menu
[submodule "site-lisp/git/async"]
	path = site-lisp/git/async
	url = https://github.com/jwiegley/emacs-async
[submodule "site-lisp/git/plain-org-wiki"]
	path = site-lisp/git/plain-org-wiki
	url = https://github.com/abo-abo/plain-org-wiki
[submodule "site-lisp/git/worf"]
	path = site-lisp/git/worf
	url = https://github.com/abo-abo/worf
[submodule "site-lisp/git/org-download"]
	path = site-lisp/git/org-download
	url = https://github.com/abo-abo/org-download
[submodule "site-lisp/git/orca"]
	path = site-lisp/git/orca
	url = https://github.com/abo-abo/orca
[submodule "site-lisp/git/org-bullets"]
	path = site-lisp/git/org-bullets
	url = https://github.com/sabof/org-bullets
[submodule "site-lisp/git/zoutline"]
	path = site-lisp/git/zoutline
	url = https://github.com/abo-abo/zoutline
[submodule "site-lisp/git/org-parser"]
	path = site-lisp/git/org-parser
	url = https://github.com/emacsmirror/org-parser
[submodule "site-lisp/git/dash"]
	path = site-lisp/git/dash
	url = https://github.com/magnars/dash.el
[submodule "site-lisp/git/ht"]
	path = site-lisp/git/ht
	url = https://github.com/Wilfred/ht.el
[submodule "site-lisp/git/iedit"]
	path = site-lisp/git/iedit
	url = https://github.com/abo-abo/iedit
[submodule "site-lisp/git/lazy-load"]
	path = site-lisp/git/lazy-load
	url = https://github.com/manateelazycat/lazy-load
[submodule "site-lisp/git/emacs-application-framework"]
	path = site-lisp/git/emacs-application-framework
	url = https://github.com/manateelazycat/emacs-application-framework
[submodule "site-lisp/git/sdcv"]
	path = site-lisp/git/sdcv
	url = https://github.com/manateelazycat/sdcv
[submodule "site-lisp/git/emacs-rime"]
	path = site-lisp/git/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "site-lisp/git/define-word"]
	path = site-lisp/git/define-word
	url = https://github.com/abo-abo/define-word
[submodule "site-lisp/git/slime"]
	path = site-lisp/git/slime
	url = https://github.com/slime/slime
[submodule "site-lisp/git/company-jedi"]
	path = site-lisp/git/company-jedi
	url = https://github.com/emacsorphanage/company-jedi
[submodule "site-lisp/git/jedi"]
	path = site-lisp/git/jedi
	url = https://github.com/tkf/emacs-jedi
[submodule "site-lisp/git/emacs-python-environment"]
	path = site-lisp/git/emacs-python-environment
	url = https://github.com/tkf/emacs-python-environment
[submodule "site-lisp/git/deferred"]
	path = site-lisp/git/deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "site-lisp/git/lpy"]
	path = site-lisp/git/lpy
	url = https://github.com/abo-abo/lpy
[submodule "site-lisp/git/epc"]
	path = site-lisp/git/epc
	url = https://github.com/kiwanami/emacs-epc
[submodule "site-lisp/git/posframe"]
	path = site-lisp/git/posframe
	url = https://github.com/tumashu/posframe
[submodule "site-lisp/git/emacs-ctable"]
	path = site-lisp/git/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "site-lisp/git/auto-complete"]
	path = site-lisp/git/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "site-lisp/git/popup-el"]
	path = site-lisp/git/popup-el
	url = https://github.com/auto-complete/popup-el
[submodule "site-lisp/git/watch-other-window"]
	path = site-lisp/git/watch-other-window
	url = https://www.github.com/manateelazycat/watch-other-window
[submodule "site-lisp/git/emacs-bash-completion"]
	path = site-lisp/git/emacs-bash-completion
	url = https://github.com/szermatt/emacs-bash-completion
[submodule "site-lisp/git/geiser"]
	path = site-lisp/git/geiser
	url = https://gitlab.com/jaor/geiser
